127.0.0.1:8081 {
root /var/www/argg-ui
gzip
log stdout
errors stdout
}

0.0.0.0:8080 {
proxy /registryapi https://{$BCDCAPI}/api
proxy /api http://{$ARGGAPI} {
  transparent
  }
proxy / http://localhost:8081 {
  transparent
  }  
}
