/*
Divider
*/
.divider {
  height: 100px;
  border: 0px
}

/*
Required field indicator
*/
label.required:after {
  content:"\00a0*";color:red;
}

/*
Loading spinner
*/
.loader {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid black; 
  border-radius: 60%;
  animation: spin 0.5s linear infinite;
  width: 20px;
  height: 20px;
}

.simple-addon {
  min-width: 50px;
  border: 0px;
  background-color: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}